// Custom variables
$primary: #1e88e5;
$danger: #e53935;

// Bulma import
@import '~bulma/bulma.sass';

// Custom styles
.modal {
  padding: 1rem;
  position: fixed;
}
.modal-close {
  position: absolute;
}

// Extensions
.is-borderless {
  border: none !important;
}
.is-hoverable {
  &:hover {
    background-color: #f3f3f3 !important;
  }
}
.mt-auto { margin-top: auto !important }
.ml-auto { margin-left: auto !important }
.mb-auto { margin-bottom: auto !important }
.mr-auto { margin-right: auto !important }
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

