html {
  background-color: #f4f4f4;
  height: 100%;
}

body {
  background-color: #f4f4f4;
  height: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 3.25rem);
}

.content-wrapper {
  flex: 1 0 auto;
}